@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* font-family: "Lato", sans-serif; */
	font-family: "Rubik", sans-serif;
	background-color: #fcfcfe;
}

*:not(.react-select__input):focus {
	box-shadow: 0px 0px 0px 2px #8c97a790, 0px 0px 0px 3px #8c97a790;
	outline: none;
}

:root {
	--primary-red: #eb1536;
	--primary-black: #222222;
	--predictbeta-blue: #051b30;
	--neutral-ash: #8c97a7;
	--alert-red: #d52a2a;

	--toastify-color-light: #fff;
	--toastify-color-dark: #121212;
	--toastify-color-info: #ecedfe;
	--toastify-color-success: #e2f4eb;
	--toastify-color-warning: #faedc8;
	--toastify-color-error: #f7e4e4;
	--toastify-color-transparent: rgba(255, 255, 255, 0.7);

	--toastify-text-color-info: #3e4551;
	--toastify-text-color-success: #3e4551;
	--toastify-text-color-warning: #3e4551;
	--toastify-text-color-error: #3e4551;

	--toastify-icon-color-info: #5d65f6;
	--toastify-icon-color-success: #55b486;
	--toastify-icon-color-warning: #f1c40f;
	--toastify-icon-color-error: #d52a2a;
}

@layer utilities {
	/* Overrides */
	/* React Select  */
	.react-select__control:hover {
		border-color: var(--predictbeta-blue) !important;
		box-shadow: 0 0 0 1px var(--predictbeta-blue) !important;
	}

	.react-select__control:focus {
		border-color: var(--predictbeta-blue) !important;
		box-shadow: 0 0 0 1px var(--predictbeta-blue) !important;
	}
}

@layer components {
	.predictbeta-header {
		box-shadow: 0px 2px 4px 0px #0000000d;
	}
}

/* Toasts */
.Toastify__toast {
	padding: 12px 16px;
	border-radius: 10px;
	box-shadow: none;
}

.Toastify__toast-body {
	font-family: "Rubik", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
	border: solid 1px #5d65f6;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
	border: solid 1px #55b486;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
	border: solid 1px #f1c40f;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
	border: solid 1px #d52a2a;
}

.Toastify__toast-theme--colored.Toastify__toast--info
	.Toastify__toast-icon
	> svg {
	color: #5d65f6;
}
.Toastify__toast-theme--colored.Toastify__toast--success
	.Toastify__toast-icon
	> svg {
	color: #55b486;
}
.Toastify__toast-theme--colored.Toastify__toast--warning
	.Toastify__toast-icon
	> svg {
	color: #f1c40f;
}
.Toastify__toast-theme--colored.Toastify__toast--error
	.Toastify__toast-icon
	> svg {
	color: #d52a2a;
}

button.Toastify__close-button {
	color: #3e4551;
}

@media (max-width: 600px) {
	.Toastify__toast {
		padding: 12px 16px;
	}
}
